.compo{
    /*Stylesheet of the container for searchbar*/
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey-2;
    border-top:1px $color-2 solid ;
    border-bottom:1px $color-2 solid ;
};



.bar{
    /*Stylesheet for the searchbar*/
    margin-top: 3%;

    input,select{
        color:darkgrey;
        width: 200px;
        height: 50px;
        padding:5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        appearance: none;
    };

    select{
        border-left: 2px solid lightgrey;
        line-height: 50%;
        
    };
}

.query_value:nth-child(-n+6){
    /*Query values to display*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    width: 400px;
    height: 30px
};

.query_value:nth-child(n+6){
    /*Query values to not display*/
    display: none;
}

.void{
    /*Middlebreaker stylesheet*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 18vh;
    border-bottom: 1px solid $color-2;
}