/*Color of fonts/bars and so on*/
$color-1 : #FFFFFF;
$color-2 : black;
$color-3 : goldenrod;
$color-4 : rgb(83, 65, 19);
/*Shades of grey used in the site*/
$grey-1: rgb(36, 39, 44);
$grey-2 : rgb(48, 48, 48);
$grey-3: rgb(34,34,34);
/*Magic padding setup*/
$padding : 2%;

* {
    margin: 0;
    padding: 0;
 }



body{
    background-color: $grey-1;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color-1;
}    
a{
    color:$color-1;
    text-decoration: none;
}

a:visited{
    color:$color-1 ;
}